
/*****-- Fonts Size and Font Size -----*****/
configuration {
font: "FiraCode Nerd Font Medium 12";
}


/*****-- Elements Font Size -----*****/
element-text {
font: "FiraCode Nerd Font Medium 12";
}
